<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>GoGoProtobuf</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.title == "Home" %} active{% endif %}" href="/">Home</a>

    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}

    {% assign pages_list = site.pages %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}{{ node.url }}">{{ node.title }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}

    <a class="sidebar-nav-item" href="http://godoc.org/github.com/gogo/protobuf">Godoc</a>
    <a class="sidebar-nav-item" href="https://drone.io/github.com/gogo/protobuf">Tests</a>
    <a class="sidebar-nav-item" href="https://github.com/gogo/protobuf/blob/master/test/example/example.proto">Example</a> 
    <a class="sidebar-nav-item" href="https://code.google.com/p/goprotobuf/source/detail?r=a244a9c2c29e1c49ef71d98b225e869dca68daa4">LatestGoProtobufMerge</a>
    <a class="sidebar-nav-item" href="https://groups.google.com/forum/#!forum/gogoprotobuf">GoogleGroup</a>
    <a class="sidebar-nav-item" href="{{ site.github.repo }}">GitHub project</a>
  </nav>

  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }}. All rights reserved.
    </p>
    <p>
      Created by <a href="{{ site.author.url }}">{{ site.author.name }}</a>
    </p>
  </div>
</div>
